*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
}
.contenedorSobreNostros{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.contenido-textos{
    justify-content: space-evenly;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: black;
    font-weight: 300;
    text-decoration: none;
}
nav > a:hover{
    text-decoration: underline;
}
header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.textos-header h1{
    font-size: 50px;
    color: black;
}
